<!DOCTYPE html>
<html>
  <head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUsPjG5jmbXA1LflkAOCuONhtyuLmXUaI&sensor=true"
  type="text/javascript"></script>
    <%= include ../head.html.ejs %>
  </head>

  <body>
    <!-- Table -->
  	<section>
       	<div id="mapholder" style="height:782px;"></div>
    </section>
  
  </body>
</html>